header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}
/*==========================================================================
  HEADER lg
==========================================================================*/
.header-Lg {
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  padding: .5rem 0;
  box-sizing: border-box;

}
.header-Lg .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-Lg .logo-lg a {
  display: block;
  height: 100%;
}
.header-Lg .logo-lg img {
  height: 2.5rem;
}
.header-Lg .header-lg-right {
  display: flex;
  align-items: center;
}
.header-Lg nav{
  display: flex;
  align-items: center;
}
.header-Lg li {
  font-size: var(--Font14);
  padding: .75em 0;
  margin: 0 1rem;
}
.header-Lg nav li.active {
  color: var(--MainYellow);
}
.header-Lg li a {
  font-weight: 600;
  color: var(--Color35);
}
.header-Lg .search-icon,
.header-Lg .search-form {
  display: flex;
  align-items: center;
}
.header-Lg .search-icon button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  border-radius: 50%;
  padding: .375rem;
  box-sizing: border-box;
  margin-left: 1.25rem
}
.header-Lg .search-icon img {
  width: 1rem;
}
.header-Lg .search-form {
  display: none;
}
.header-Lg .search-form button{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  border-radius: 50%;
  padding: .375rem;
  box-sizing: border-box;
  margin-left: .5rem;
}
.header-Lg .search-form img {
  width: 0.75rem;
}

/*==========================================================================
  HEADER sm
==========================================================================*/
.header-sm {
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
}
.header-sm .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-sm img{
  height: 1.125rem;
}
.header-sm .header-icon-wrap{
  display: flex;
  align-items: center;
  padding: .75rem;
}
.header-sm .header-icon-wrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
}
.header-sm .header-icon-wrap a:first-child {
  margin-right: 1rem;
}
.header-sm .header-icon-wrap img {
  width: 1.25rem;
}

.side-menu {
  /* display: none; */
  position: fixed;
  left: 400%;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  z-index: 101;
  transition: .6s;
}
.side-menu .side-menu-top  {
  /* display: none; */
  position: relative;
  padding: .75rem 0;
}
.side-menu .closed-btn {
  position: absolute;
  left: 0;
  top: 0;
  padding: .75rem .75rem;
  box-sizing: border-box;
}
.side-menu .closed-btn img{
  height: 1rem;
}
.side-menu .logo-sm {
  display: inline-block;
}
.side-menu .logo-sm img {
  height: 1.125rem;
}
.side-menu .search-wrap {
  /* display: none; */
  margin-top: 2.5rem;
}
.side-menu .search-wrap label {
  width: 100%;
}
.side-menu nav li {
  font-size: var(--Font18);
  color: var(--MainYellow);
  margin: 1.875rem 0;
}
.side-menu nav li > * {
  display: inline-block;
  width: 100%;
}